<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}!</p>
  <p>Our support team recieved a reset password request from you user</p>
  <p>If it was from you, click on the link below to register a new password:</p>
  <p><a href="{{link}}">Reset my password</a></p>
  <p>If you don`t recognize this request, discard this message</p>
  <p>Thank you!</p>
  <p>API Sales team</p>
</div>
